@use "./base.scss";
@use "./variables.scss" as *;

// put your custom CSS here!

// Left side menu
.page>#quartz-body .sidebar.left {
  gap: 10pt !important;
}

p {
  text-align: justify !important;
}

.recent-li {
  margin: 0 2pt !important;

  h3 {
    font-size: 1rem !important;
  }

  .meta {
    font-size: .95rem !important;
    margin-bottom: 1pt !important;
  }

  .tags {
    display: none !important;
  }
}

.img-grid {
  display: grid;
  gap: 5px;
  padding: 10px;
}

.img-grid-a-3 {
  grid-template:
  "a c"
  "b c" / 60% 40%;
}

.img-grid-a-5 {
  grid-template:
    "a c"
    "a d"
    "b e" / auto;
}

.justify-text {
  text-align: justify;
  text-justify: inter-word;
}

// My own constructs
.caption-img-container {
  width: 90%;
  margin: 0 auto !important;

  .caption-img {
    display: grid;
    grid-template:
      "image" auto
      "caption" auto / auto;

    img {
      grid-area: image;
      margin: 5px auto 0px auto !important;
    }

    figcaption {
      grid-area: caption;
      font-style: italic;
      max-width: fit-content;
      text-align: justify;
      text-justify: inter-word;
    }
  }
}

// Background (top) image that appears on all pages
.header-img {
  grid-area: 1 / 1;
  width: 100%;
  height: 100%;

  img {
    display: block;
    object-fit: cover;
    border-radius: 0px;
    width: 100%;
    height: 20vh;
    max-height: 300px;
    opacity: 1;
    object-position: center 20%;
  }
}

// Fix darkmode button to top right
.darkmode {
  @media ($desktop) {
    position: fixed !important;
    top: 10px !important;
    left: calc(100% - 40px) !important;
  }
}

.recent-notes>h3 {
  @media ($tablet) {
    margin: 0;
  }
}

// Fix table for list pages (tag pages)
.page-listing {
  li {
    .section {
      width: 100%;
      display: grid;
      grid-template-columns: 15% 45% 40% !important;
    }

    .section:hover {
      opacity: 75%;
    }
  }
}

// ===========================
// Home page
// ===========================
$image-radius: 30px;

section {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  height: auto;
  width: 100%;
  gap: 15px;
  place-content: center;
  grid-template-rows: 33% 33% 33%;
  z-index: -5 !important;

  @media all and not ($desktop) {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }

  .card {
    border-radius: $image-radius;
    height: 200px;

    @media all and not ($desktop) {
      grid-column: span 1;
    }

    img {
      width: 100%;
      display: block;
      height: 100%;
      object-fit: cover;
      border-radius: $image-radius;
    }

    .card_img:hover {
      opacity: 75%;
    }

    .card_img {
      position: relative;
      height: 100%;

      .card_overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        color: #fff;
        background: linear-gradient(0deg, rgb(0 0 0 / 57%) 0%, rgb(255 255 255 / 0%) 100%);
        width: 100%;
        height: 100%;
        border-radius: $image-radius;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;

        h2 {
          margin: 10px;
          font-weight: 700;
          color: #fff !important;
        }

        a {
          color: inherit !important;
          text-decoration: none;
        }
      }
    }
  }
}

a.external {
  text-decoration: underline;
}

// ===========================
// Scrollbars
// ===========================
*::-webkit-scrollbar {
  background-color: var(--light);
  width: 6px;
  margin: 0 2px;
}

*::-webkit-scrollbar-track {
  background-color: var(--light);
}

*::-webkit-scrollbar-thumb {
  max-height: 20px !important;
  border-radius: 16px;
  background-color: #babac0;
}

*::-webkit-scrollbar-button {
  display: none;
}

// ===========================
// Modifiers
// ===========================
.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-90 {
  width: 90% !important;
}

.w-100 {
  width: 100% !important;
}
